@charset "UTF-8";
/*em HTML é id = em CSS é # (só pode um elemento)
em HTML é class = em CSS é . (pode vários elementos)*/
body{
    background-color: rgb(205,255, 203);
    font-family: Arial, helvertica,sans-serif;
}
h1{
    color: rgb(18, 128, 15);
}
h1#principal{
    text-align: center;
    background-color: rgb(4,109,0);
    color: white;
}

h2{
    color:rgb(51,77,49);
}
.basico{
    color:rgb(51,77,49);
    
}
.intermediario{
    color:rgb(248, 220, 7);
}
.avancado{
    color:rgb(245, 9, 9);
}